<footer class="site-footer">
  <div class="site-footer__main">
    <div class="site-footer__logos">
      <ul class="site-footer__logos-list">
        <li class="site-footer__logos-item"><a class="responsive-img" style="padding-top:20.11661807580175%" href="https://jqi.umd.edu/" target="_blank"><img src="{{ '/assets/theme/jqi-logo-white.svg' | url }}" alt="UMD Joint Quantum Institute logo" loading="lazy"/></a></li>
        <li class="site-footer__logos-item"><a class="responsive-img" style="padding-top:27.960339943342778%" href="https://www.umd.edu/" target="_blank"><img src="{{ '/assets/theme/umd-logo-white.svg' | url }}" alt="University of Maryland logo" loading="lazy"/></a></li>
        <li class="site-footer__logos-item"><a class="responsive-img" style="padding-top:13.095238095238097%" href="https://www.nist.gov/" target="_blank"><img src="{{ '/assets/theme/nist-logo-white.svg' | url }}" alt="National Institute of Standards and Technology logo" loading="lazy"/></a></li>
      </ul>
    </div>
    <nav class="site-footer__nav" aria-label="Footer">
      <ul>
        <li><a href="{{ site.mainSite }}/research">Research</a></li>
        <li><a href="{{ site.mainSite }}/people">People</a></li>
        <li><a href="{{ site.mainSite }}/positions">Positions</a></li>
        <li><a href="{{ site.mainSite }}/news">News</a></li>
        <li><a href="{{ site.mainSite }}/publications">Publications</a></li>
        <li><a href="{{ site.mainSite }}/lab-facilities">Lab Facilities</a></li>
        <li><a href="{{ site.mainSite }}/theses">Theses</a></li>
      </ul>
    </nav>
    <div class="site-footer__contact">
      <h2 class="site-footer__contact-title">Contact Us</h2>
      <div class="site-footer__contact-address"><p>Room 2207 Atlantic Bldg.<br/>University of Maryland<br/>College Park, MD 20742</p></div>
      <div class="site-footer__contact-phone-email"><p><span>Phone: </span><a href="tel:+13013141908">(301) 314-1908</a><br/><span>Fax: </span><a href="tel:+13013140207">(301) 314-0207</a><br/><a href="mailto:jqi-info@umd.edu">jqi-info@umd.edu</a></p></div>
    </div>
  </div>
</footer>
